<!DOCTYPE html>
<html>
<head>
  <title>Octopus</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar navbar-fixed-top navbar-inverse'>
    <div class='navbar-inner'>
      <div class='container'>
        <a class='brand' href='#'>Octopus Admin</a>
        <ul class='nav'>
          <li><%= link_to 'Products', admin_products_path %></li>
          <li><%= link_to 'Categories', admin_categories_path %></li>
      </div>
    </div>
  </div>
  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
